<a href="https://colab.research.google.com/github/arnoldT8000/AICS/blob/main/AICS_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn import linear_model
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
df = pd.read_csv('gdrive/My Drive/AICS_data/Social_Network_Ads.csv')
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [5]:
logreg = linear_model.LogisticRegression()
logreg.fit(df.drop('Purchased',axis='columns').values,df.Purchased)

LogisticRegression()

In [6]:
age = float(input("Enter Age of Person : "))
salary = float(input("Enter Salary of Person : "))
print("There is",logreg.predict_proba([[age, salary]])[0][0]*100,"% probabilty they will purchase car")
print("There is",logreg.predict_proba([[age, salary]])[0][1]*100,"% probabilty they will not purchase car")

Enter Age of Person : 36
Enter Salary of Person : 54000
There is 53.62917733650073 % probabilty they will purchase car
There is 46.37082266349927 % probabilty they will not purchase car